<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Generator" content="Microsoft Word 15 (filtered medium)">
</head>
<body lang="FR" link="#4B60C8" vlink="#4B60C8">
<div style="border:none;border-top:solid #E1E1E1 1.0pt;padding:3.0pt 0cm 0cm 0cm">
<p class="MsoNormal"><b><span lang="EN-US">From:</span></b><span lang="EN-US"> booking@airline.com &lt;booking@airline.com&gt;
<br>
<b>Sent:</b> {{DATE_PURCHASE}} 10:53<br>
<b>To:</b> {{TRAVELLER_SURNAME}} {{TRAVELLER_NAME}} &lt;{{EMAIL}}&gt;<br>
<b>Subject:</b> Confirmation for reservation {{TRAVELLER_NAME}}, {{DEPARTURE_FULL_DATE}}.</span><o:p></o:p></p>
</div>
</div>
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellpadding="0">
<tbody>
<tr>
<td rowspan="3" style="padding:.75pt .75pt .75pt .75pt"></td>
<td style="padding:.75pt .75pt .75pt .75pt"></td>
<td rowspan="3" style="padding:.75pt .75pt .75pt .75pt"></td>
</tr>
<tr>
<td style="padding:.75pt .75pt .75pt .75pt">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
<tbody>
<tr>
<td valign="top" style="background:#00529C;padding:8.4pt 0cm 8.4pt 0cm">
<p class="MsoNormal" align="center" style="mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:15.0pt;margin-left:3.75pt;text-align:center">
<b><span style="font-size:22.5pt;font-family:Helvetica;color:white;text-transform:uppercase">Confirmation for reservation
</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal" style="margin-bottom:15.0pt"><b><span style="font-size:12.0pt;font-family:Helvetica;color:black">&nbsp;</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal" style="margin-bottom:15.0pt"><b><span style="font-size:12.0pt;font-family:Helvetica;color:black">Thank you for choosing our airline to make your travel reservation.You can review your reservation information below.
</span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div style="margin-top:7.5pt;margin-bottom:22.5pt">
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td style="background:white;padding:15.0pt 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase">Your trip reservation
</span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div style="border-top:none;border-left:none;border-bottom:solid #CCCCCC 1.0pt;border-right:solid #CCCCCC 1.0pt;padding:0cm 0cm 0cm 0cm;margin-bottom:15.0pt">
<p class="MsoNormal" style="background:white"><span style="color:black">&nbsp;</span><o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt;background:white">
<tbody>
<tr>
<td style="padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><b><span style="font-size:11.5pt;font-family:Helvetica;color:black">Booking reservation number:
</span></b><span class="recloc"><b><span style="font-size:24.0pt;font-family:Helvetica;color:#00529C">‎<a href="{{MODIFY_URL}}mybooking?modifyAction={{MODIFY_ACTION}}&ENABLE_FORCE_PP=yes&DISPLAY_CC=false&rloc={{RLOC}}&name={{TRAVELLER_NAME_UPPERCASE}}">{{RLOC}}</a></span></b></span><b><span style="font-size:11.5pt;font-family:Helvetica;color:black">
</span></b><o:p></o:p>(click here to display your booking)</p>
</td>
</tr>
<tr>
<td style="padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><b><span style="font-size:11.5pt;font-family:Helvetica;color:black">Trip status:
</span></b><span class="textcolor1"><b><span style="font-size:24.0pt;font-family:Helvetica">Confirmed</span></b></span><b><span style="font-size:11.5pt;font-family:Helvetica;color:black">
</span></b><o:p></o:p></p>
</td>
</tr>
<tr style="height:2.25pt">
<td style="padding:0cm 15.0pt 0cm 15.0pt;height:2.25pt"></td>
</tr>
<tr>
<td style="padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">• Your trip is confirmed and the reservation is guaranteed.
</span><o:p></o:p></p>
</td>
</tr>
<tr style="height:2.25pt">
<td style="padding:0cm 15.0pt 0cm 15.0pt;height:2.25pt"></td>
</tr>
<tr>
<td style="padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">• We recommend you make a note of the booking reservation number or print this mail.
</span><o:p></o:p></p>
</td>
</tr>
<tr style="height:2.25pt">
<td style="padding:0cm 15.0pt 0cm 15.0pt;height:2.25pt"></td>
</tr>
<tr style="height:2.25pt">
<td style="padding:0cm 15.0pt 0cm 15.0pt;height:2.25pt"></td>
</tr>
<tr>
<td style="padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</div>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr style="height:20.25pt">
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt;height:20.25pt">
<p class="MsoNormal"><span class="imgpassenger1"><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase">&nbsp;</span></b></span><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase">
<a name="passenger"></a>Traveller information </span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div style="margin-bottom:15.0pt" id="divTablePassenger">
<p class="MsoNormal" style="background:white"><span style="color:black">&nbsp;</span><o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="margin-left:15.0pt;background:white" id="pax1">
<tbody>
<tr>
<td width="99%" style="width:99.0%;padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
<td width="1%" style="width:1.0%;padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span class="textbold1"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Mr {{TRAVELLER_SURNAME}} {{TRAVELLER_NAME}}
</span></span><o:p></o:p></p>
</td>
<td style="padding:0cm 7.5pt .75pt 0cm"></td>
</tr>
<tr style="height:3.75pt">
<td colspan="2" style="padding:0cm 7.5pt .75pt 0cm;height:3.75pt"></td>
</tr>
<tr>
<td colspan="2" style="padding:0cm 7.5pt .75pt 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="620" style="width:465.0pt">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span class="textbold2"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Contact Information</span></span><o:p></o:p></p>
</td>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
<tr style="height:3.75pt">
<td colspan="2" style="padding:0cm 7.5pt .75pt 0cm;height:3.75pt"></td>
</tr>
<tr>
<td colspan="2" style="padding:0cm 7.5pt .75pt 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="620" style="width:465.0pt">
<tbody>
<tr>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">E-Mail:</span><o:p></o:p></p>
</td>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black"><a href="mailto:{{EMAIL}}">{{EMAIL}}</a>
</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Mobile phone:</span><o:p></o:p></p>
</td>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{PHONE_NUMBER}}</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">SMS notification number:</span><o:p></o:p></p>
</td>
<td style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&#43;{{PHONE_NUMBER}}
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height:3.75pt">
<td colspan="2" style="padding:0cm 7.5pt .75pt 0cm;height:3.75pt"></td>
</tr>
<tr>
<td style="padding:0cm 7.5pt .75pt 0cm"></td>
<td style="padding:0cm 7.5pt .75pt 0cm"></td>
</tr>
<tr>
<td colspan="2" style="padding:0cm 7.5pt .75pt 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</div>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr style="height:20.25pt">
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt;height:20.25pt">
<p class="MsoNormal"><span class="imgplane1"><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase">&nbsp;</span></b></span><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase"> e-ticket
 numbers </span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div id="eticketNumbers">
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="margin-left:15.0pt;background:white">
<tbody>
<tr>
<td style="padding:0cm 15.0pt 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Document {{ETICKET}}:</span></b><o:p></o:p></p>
</td>
<td style="padding:0cm 15.0pt 0cm 0cm">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{ORIGIN}} - {{ORIGIN}}</span></b><o:p></o:p></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{TRAVELLER_SURNAME}} {{TRAVELLER_NAME}}
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</div>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr style="height:20.25pt">
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt;height:20.25pt">
<p class="MsoNormal"><span class="imgplane1"><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase">&nbsp;</span></b></span><a name="flight"></a><b><span style="font-size:13.5pt;font-family:Helvetica;color:black;text-transform:uppercase">
 Your flight selection </span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div id="sh_selectionRecap">
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt"></td>
</tr>
</tbody>
</table>
</div>
<table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;background:white;border:none;border-bottom:solid silver 1.0pt">
<tbody>
<tr>
<td colspan="3" style="border:none;padding:3.75pt 3.75pt 3.75pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{ORIGIN}} to {{DESTINATION}}</span></b><o:p></o:p></p>
</td>
</tr>
<tr style="height:7.5pt">
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
</tr>
<tr>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Flight 1</span></b><o:p></o:p></p>
</td>
<td width="83%" colspan="2" valign="top" style="width:83.0%;border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{DEPARTURE_FULL_DATE}}</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:#00529C">&nbsp;Confirmed
</span></b><o:p></o:p></p>
</td>
<td colspan="2" valign="top" style="border:none;padding:0cm 0cm 0cm 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td colspan="3" valign="top" style="padding:0cm 0cm 0cm 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td width="15%" valign="top" style="width:15.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span class="nowrap1"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Departure:
</span></b></span><o:p></o:p></p>
</td>
<td nowrap="" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{DEPARTURE_START}}
</span><o:p></o:p></p>
</td>
<td width="90%" valign="top" style="width:90.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{ORIGIN}}, {{ORIGIN_COUNTRY}} - {{ORIGIN_AIRPORT}} {{TERMINAL_B}}
</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span class="nowrap1"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Arrival:
</span></b></span><o:p></o:p></p>
</td>
<td nowrap="" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{DEPARTURE_ARRIVAL}}
</span><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{DESTINATION}}, {{DESTINATION_COUNTRY}} - {{DESTINATION_AIRPORT}} {{TERMINAL_R}}
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="32" style="width:24.0pt;padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
</td>
</tr>
<tr style="height:7.5pt">
<td colspan="4" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
</tr>
<tr>
<td width="15%" nowrap="" valign="top" style="width:15.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Airline
</span></b><o:p></o:p></p>
</td>
<td width="35%" valign="top" style="width:35.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segAirline_0_0">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{AIRLINE}}
</span><o:p></o:p></p>
</td>
<td width="50%" colspan="2" valign="top" style="width:50.0%;padding:0cm 0cm 0cm 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td width="29%" nowrap="" valign="top" style="width:29.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Aircraft:
</span></b><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segAircraft_0_0">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{AIRPLANE_B}}
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt"></td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segOpBy_0_0"></td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr id="faretype">
<td nowrap="" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Fare type:
</span></b><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segFareType_0_0">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Low
</span><o:p></o:p></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height:7.5pt">
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
<td colspan="2" valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;background:white;border:none;border-bottom:solid silver 1.0pt" id="tabFgtReview_1">
<tbody>
<tr>
<td colspan="3" style="border:none;padding:3.75pt 3.75pt 3.75pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{DESTINATION}} to {{ORIGIN}}</span></b><o:p></o:p></p>
</td>
</tr>
<tr style="height:7.5pt">
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
</tr>
<tr>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Flight 1</span></b><o:p></o:p></p>
</td>
<td width="83%" colspan="2" valign="top" style="width:83.0%;border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{RETURN_FULL_DATE}}</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:#00529C">&nbsp;Confirmed
</span></b><o:p></o:p></p>
</td>
<td colspan="2" valign="top" style="border:none;padding:0cm 0cm 0cm 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td colspan="3" valign="top" style="padding:0cm 0cm 0cm 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td width="15%" valign="top" style="width:15.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span class="nowrap1"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Departure:
</span></b></span><o:p></o:p></p>
</td>
<td nowrap="" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{RETURN_START}}
</span><o:p></o:p></p>
</td>
<td width="90%" valign="top" style="width:90.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{DESTINATION}}, {{DESTINATION_COUNTRY}} - {{DESTINATION_AIRPORT}} {{TERMINAL_R}}
</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span class="nowrap1"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Arrival:
</span></b></span><o:p></o:p></p>
</td>
<td nowrap="" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{RETURN_ARRIVAL}}
</span><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{ORIGIN}}, {{ORIGIN_COUNTRY}} - {{ORIGIN_AIRPORT}} {{TERMINAL_B}}
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="32" style="width:24.0pt;padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
</td>
</tr>
<tr style="height:7.5pt">
<td colspan="4" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
</tr>
<tr>
<td width="15%" nowrap="" valign="top" style="width:15.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Airline
</span></b><o:p></o:p></p>
</td>
<td width="35%" valign="top" style="width:35.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segAirline_1_0">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{AIRLINE}}
</span><o:p></o:p></p>
</td>
<td width="50%" colspan="2" valign="top" style="width:50.0%;padding:0cm 0cm 0cm 0cm">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td width="29%" nowrap="" valign="top" style="width:29.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Aircraft:
</span></b><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segAircraft_1_0">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{AIRPLANE_R}}
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt"></td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segOpBy_1_0"></td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr id="faretype">
<td nowrap="" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Fare type:
</span></b><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt" id="segFareType_1_0">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Flex
</span><o:p></o:p></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height:7.5pt">
<td valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
<td colspan="2" valign="top" style="border:none;padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div id="vcAIR1holder">
<div id="vcAIR1div">
<div id="sh_fltPayment">
<p class="MsoNormal" style="background:white"><a name="payment"></a><span style="color:black">&nbsp;</span><o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Flight payment and ticket</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td colspan="2" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td nowrap="" valign="top" style="border-top:solid #00529C 1.0pt;border-left:none;border-bottom:solid #00529C 1.0pt;border-right:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal" align="center" style="text-align:center"><span class="textcolorbold1"><span style="font-size:10.5pt;font-family:Helvetica;text-transform:uppercase">{{TOTAL_PRICE}}.00 {{CURRENCY_CODE}}
</span></span><o:p></o:p></p>
</td>
<td nowrap="" valign="top" style="border-top:solid #00529C 1.0pt;border-left:none;border-bottom:solid #00529C 1.0pt;border-right:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal" align="right" style="text-align:right"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;
</span><o:p></o:p></p>
</td>
<td nowrap="" valign="top" style="border-top:solid #00529C 1.0pt;border-left:none;border-bottom:solid #00529C 1.0pt;border-right:none;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal" align="right" style="text-align:right"><span class="textcolorbold1"><span style="font-size:10.5pt;font-family:Helvetica">Total for all travellers
</span></span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height:7.5pt">
<td colspan="2" valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt;height:7.5pt">
</td>
</tr>
<tr>
<td width="18%" valign="top" style="width:18.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Payment
</span><o:p></o:p></p>
</td>
<td width="82%" valign="top" style="width:82.0%;padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{TOTAL_PRICE}}.00 {{CURRENCY_CODE}}
</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Ticket</span><o:p></o:p></p>
</td>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">E-ticket
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</div>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Fare terms</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">{{ORIGIN}} to {{DESTINATION}}
</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span class="textbold2"><span style="font-size:10.5pt;font-family:Helvetica;color:black">Low:</span></span><span style="font-size:10.5pt;font-family:Helvetica;color:black">
</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">&nbsp;
</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<div id="sh_flightNotes">
<p class="MsoNormal" style="background:white"><span style="color:black">&nbsp;</span><o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><b><span style="font-size:10.5pt;font-family:Helvetica;color:black">Notes</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">• Not all seat and meal options are offered on all flights.</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt"></td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">• Specific rules and restrictions may apply to this fare.</span><o:p></o:p></p>
</td>
</tr>
<tr>
<td valign="top" style="padding:1.5pt 3.75pt 1.5pt 3.75pt">
<p class="MsoNormal"><span style="font-size:10.5pt;font-family:Helvetica;color:black">• Taxes and fees are included.</span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div id="sh_specialReqTripSum">
<h2><span style="font-size:12.0pt">Services</span><o:p></o:p></h2>
<div>
<p class="MsoNormal">No selected services <o:p></o:p></p>
</div>
</div>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
</div>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
<tbody>
<tr>
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal" style="margin-bottom:15.0pt"><b><span style="font-size:12.0pt;font-family:Helvetica;color:black">&nbsp;</span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
<tbody>
<tr>
<td style="padding:0cm 0cm 0cm 0cm">
<p class="MsoNormal" style="margin-bottom:15.0pt"><span style="font-size:11.5pt;font-family:Helvetica;color:black">For customer support, please contact
<a href="mailto:booking@airline.com">booking@airline.com</a> </span><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="700" style="width:525.0pt">
<tbody>
<tr>
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal" style="margin-bottom:15.0pt"><b><span style="font-size:12.0pt;font-family:Helvetica;color:black">&nbsp;</span></b><o:p></o:p></p>
</td>
</tr>
<tr>
<td style="background:white;padding:0cm 15.0pt 0cm 15.0pt">
<p class="MsoNormal" style="margin-bottom:15.0pt"><b><span style="font-size:12.0pt;font-family:Helvetica;color:black">&nbsp;</span></b><o:p></o:p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal">&nbsp;<o:p></o:p></p>
</div>
</body>
</html>