@import url("../files/structure-ltr.css");

/*------------------------------------------------------------------
[Confirmation widget stylesheet]
------------------------------------------------------------------*/

/*------------------------------------------------------------------

[ Body, Header & Footer ]
*/

body {
	max-width: 590px;
}
.headDiv {
	background-color: #fff;
}
.headDivider {
	display: none;
}
.titlePt1 {
	color: #333;
}
#footerContainer {
	background: #eeeeee;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
	box-shadow: none;
}
#form_SearchCarsForm {
	display:none;
}
#search_form{
	background: #f4f4f4;
}
#wrapper3 {
	display: none;
}
.nocars_container {
    	margin: -4% 0 0 0.5%;
}


/*------------------------------------------------------------------
[ Buttons ]
*/
/*-[ showdetails ]-*/

.showDetailsButton, #viewImg, .changebtn, .nocars_button {
	background-color: #003a7d;
	border: 1px solid #003a7d;
	color: #fff;
	border-radius: 30px;
	padding: 10px;
}
.showDetailsButton:hover, #viewImg:hover, .changebtn:hover, .nocars_button:hover {
	background: #fff;
	border: 1px solid #003a7d;
	color: #003a7d;
	transition: .3s;
}
.searchNowButton {
	background: #fff;
	color: #003a7d;
	border: 1px solid #003a7d;
	border-radius: 30px;
	margin-bottom: 30%;
	margin-left: 10%;
	padding: 8px 3px;
	font-size: 11px;
}
.searchNowButton:hover {
	background-color: #003a7d;
	border: 1px solid #003a7d;
	color: #fff;
	transition: .3s;
}
select {
	border: none !important;
	border-radius: 0px !important
}


/*------------------------------------------------------------------
[ Columncontent ]
*/

.icons div div {
	background-image: url("../files/widget-sprite.png");
}
.icons > div {
	color: #555555;
}
.freeClx-msg {
	color: #7AA040;
	background: url("../files/widget-tick.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
}
.make {
	color: #081843;
}
.type {
	color: #081843;
}
.was {
	color: #003988
}
.was, .total_pricing, .now, .total_pricing_number {
	color: #003988;
}
.now {
	color: #000000;
}
.from.ng-binding {
	border-bottom: 1px dotted #999999;
	color: #003988;
}
.mainDiv {
	padding-bottom: 6px;
}
/*------------------------------------------------------------------
[ Nocars]
*/

#nocars_tx2 {
	color: #5e5e5e;
	text-align: center;
}
#nocars_tx1,.ng-binding {
	color: #003a7d;
	font-style: normal;
	font-size: 15px;
}
.nocars_container {
	background: #fff;
}
.wrapper, .nocars_container {
	border-color: #e9e9e9;
}
/*------------------------------------------------------------------
[ labels]
*/
label {
	color: #666666;
}

select {
	border: 1px solid #E9E9E9;
	box-shadow: none;
}

select:focus {
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

.newmessage {
    font-size: 13.5px;
    color: #333;
}

.headlines {
    width: 80%;
    *width: 72%;
    float: left;
    margin-left: 1%;
}

@media only screen and (max-width: 320px) {
	.newmessage {
		float: none !important;
		background: none !important;
		box-shadow: none !important;
		border: none !important;
		margin: 0 !important;
		padding: 0 !important
	}
}

@media (max-width: 700px) {
	#nocars_tx2 {
		line-height: normal;
	}
	#nocars_button {
		margin: 0px;
	}
	.ng-binding {
		white-space: nowrap;
	}
	.icons {
		width: 80%;
	}
	#wrapper3 {
	}

}

@media (max-width: 520px) {
	.titlePt1 {
		font-size: 15px;
	}
	.newmessage {
		font-size: 13px;
	}
	#nocars_button{
		white-space: nowrap;
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.searchNowButton {
		padding: 10px 0px;
		margin: 5px 0px;
	}
}

@media (max-width: 460px) {
	#nocars_tx1 {
		font-size: 12px !important;
		font-weight: 600 !important;
	}
}

@media (max-width: 420px) {
	.newmessage {
		display: none;
	}
}

@media (max-width: 380px) {
	#nocars_tx1 {
		font-size: 10px !important;
	}
	.titlePt1, .newmessage {
		font-size: 11px !important;
	}
}
